extends layout

block content
    h1 The number of market is #{market.length}
    //- //h4 the first customer is #{customer[0].name} 
    //- //whenever we want to use dynamic stuff we should us 
    each uniqueMarket in market 
      h4 #{uniqueMarket.name} #{uniqueMarket.address} 